$whirlwindz-black-primary: mat-palette($mat-grey, 700, 300, 900);
$whirlwindz-black-accent: mat-palette($mat-blue-grey, 400);
$whirlwindz-black-warn: mat-palette($mat-red, 500);

$whirlwindz-black-theme: mat-dark-theme(
  $whirlwindz-black-primary,
  $whirlwindz-black-accent,
  $whirlwindz-black-warn
);
